{% extends 'app/base.html' %}

{% block title %} {{ blog.title }} {% endblock %}

{% block content %}
  <h2>{{ blog.title }} </h2>
  <small style="color:gray">Created by {{ blog.author }} at {{ blog.created_at }}
    
    {% if user.is_authenticated and user.id == blog.author.id %}
      &nbsp;
      <a href="{% url 'update-post' blog.id %}">Edit</a>
      &nbsp;
      <a style="color: red" href="{% url 'delete-post' blog.id %}">Delete</a>
    {% endif %}
  </small>
  <hr>
  <p>{{ blog.body|safe }}</p>
  <hr>
  
  <a class="btn btn-secondary mb-5" href="{% url 'home' %}">Back</a>
{% endblock %}