{% extends 'app/base.html' %}

{% block content %}
  <center><h1>{{ category }} Category</h1></center>
  <br>
  {% if posts %}
    <ul>
      {% for post in posts %}
        <div class="card" style="padding: 10px; margin: 10px; position: relative;">
          <h6 style="color: gray;">Created by {{ post.author }} at {{ post.created_at }}</h6>
          <h5><a style="text-decoration: none" href="{% url 'posts' post.id %}">{{ post.title }}</a></h5>
          <h6>{{ post.snippet }}</h6>
          <small style="color: gray;">Categories: {{ post.category }}</small>
          <small style='color: gray; position: absolute; top: 5px; right: 10px' >{{ post.likes.count }} Likes</small>
          <br>

          {% if user.is_authenticated and user.id == post.author.id %}
            <div style="display: flex; align-items: center;">
              <small><a href="{% url 'update-post' post.id %}">Edit</a></small>
              &nbsp;
              <small><a style="color: red" href="{% url 'delete-post' post.id %}">Delete</a></small>
            </div>
          {% endif %}
        </div>

      {% endfor %}

      <br>
      <br>

      <a class="btn btn-outline-secondary" href="{% url 'home' %}">Back</a>
    </ul>

  {% else %}
    <h1><center>There seems to be no posts available in the {{ category }} category</center></h1>

  {% endif %}

  


{% endblock %}