{% extends 'app/base.html' %}

{% block content %}
  <center><h1>Blog Posts</h1></center>
  <br>
  <ul>
    <hr>
    {% for post in posts %}
      <div style='position: relative; padding: 3px'>
        <h6 style="color: gray;">created by {{ post.author }} - {{ post.created_at }}
          &nbsp;
          [<small>
            <a  style="color: gray; text-decoration: none" href="{% url 'category-posts' post.category|slugify %}">{{ post.category }}</a>
          </small>]
          <small style='color: gray; position: absolute; top: 0; right: 0' >{{ post.likes.count }} Likes</small>
        </h6>

      
      
        <li><h2><a style="text-decoration: none" href="{% url 'posts' post.id %}">{{ post.title }}</a></h2></li>
        <h6>{{ post.snippet }}</h6>

        {% if user.is_authenticated and user.id == post.author.id %}
          <small><a href="{% url 'update-post' post.id %}">Edit</a></small>
          <small><a style="color: red" href="{% url 'delete-post' post.id %}">Delete</a></small>
        {% endif %}
        <hr>
      </div>

      

    {% endfor %}
  </ul>

{% endblock %}


