{% load static %}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Blogsite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if cat_menu %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>  
              <ul class="dropdown-menu">
                  {% for item in cat_menu %}
                    <li>
                      <a class='dropdown-item' href="{% url 'category-posts' item|slugify %}">{{ item }}</a>
                    </li>
                  {% endfor %}
                  <li>
                    <hr class="dropdown-divider">
                    <a class="dropdown-item" href="{% url 'add-category' %}">Create Category</a>
                  </li>
              </ul>
          </li>
        {% endif %}


        {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add-post' %}">Create Post</a>
          </li>

          <li class="nav-item">
            <form method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="nav-link" type="submit">Logout</button>
            </form>
          </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>

        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto ">
        {% if user.is_authenticated %}

          <li class="nav-item dropdown mt-2 mx-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'user-profile' user.profile.id %}">View Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'edit-profile' user.profile.id %}">Edit Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'profile' %}">Edit Settings</a></li>
            </ul>
          </li>

        
          {% if user.profile.profile_pic %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">
                <img class="rounded-circle" src="{{ user.profile.profile_pic.url }}" width=40px height=40px>
              </a>
            </li>

          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">
                <img class="rounded-circle" src="{% static 'webapp/images/blank-profile-pic.webp' %}" width=40px height=40px>
              </a>
            </li>
            
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
