{% extends 'app/base.html' %}

{% block title %} Update Post {% endblock %}

{% block content %}
  {% if user.is_authenticated and user.id == post.author.id %}
    <h1>Update Post</h1>
    <hr>
    <br>

    <div class="mb-3">
      <form method='POST'>

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p|safe }}
        <button class="btn btn-outline-primary">Update</button>
        <a class="btn btn-outline-secondary" href="{% url 'home' %}">Back</a>

      </form>
    <div>
  
  {% else %}
    <h1>You are not allowed access to this area!</h1>
  
  {% endif %}

{% endblock %}