{% extends 'app/base.html' %}

{% load static %}

{% block content %}
  <center><h1>User Profile</h1></center>
  <hr>
  <br>

  <div class="card mb-3" style="overflow: hidden;">
    {% if page_user.profile_pic %}
      <img src="{{ page_user.profile_pic.url }}" class="card-img-top" height=500 style="object-fit: cover">
    {% else %}
      <img src="{% static 'webapp/images/blank-profile-pic.webp' %}" class="card-img-top" height=500 style="object-fit: cover">
    {% endif %}
    
    <div class="card-body">
      <h5 class="card-title">About {{ page_user }}</h5>
      <p class="card-text">{{ page_user.bio }}</p>
    </div>
  </div>
  <br>
  <br>

  <center><h1>Posts from {{ page_user }}</h1></center>

  <ul>
    <hr>
    {% for post in user_posts %}
      <div class="card" style='position: relative; padding: 10px; margin: 15px'>
        <h6 style="color: gray;">created by 
          <a href="{% url 'user-profile' post.author.id %}" style="text-decoration: none; color: gray">{{ post.author }}</a>
           - {{ post.created_at }}
          &nbsp;
          [<small>
            <a  style="color: gray; text-decoration: none" href="{% url 'category-posts' post.category|slugify %}">{{ post.category }}</a>
          </small>]
          <small style='color: gray; position: absolute; top: 5px; right: 10px' >{{ post.likes.count }} Likes</small>
        </h6>

      
      
        <h5><a style="text-decoration: none" href="{% url 'posts' post.id %}">{{ post.title }}</a></h5>
        <h6>{{ post.snippet }}</h6>

        {% if user.is_authenticated and user.id == post.author.id %}
          <div style="display: flex; align-items: center;">
            <small><a href="{% url 'update-post' post.id %}">Edit</a></small>
            &nbsp;
            <small><a style="color: red" href="{% url 'delete-post' post.id %}">Delete</a></small>
          </div>
        {% endif %}
      </div>

    {% endfor %}
  </ul>
        
  <br>
  <br>

  <center>
    <a class="btn btn-outline-secondary mb-5" href="{% url 'home' %}">Back</a>
  </center>
{% endblock %}